@model Item

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-form-label-lg">
        <form method="post" asp-action="Delete">
            
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled />
                
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"  disabled/>
               
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to Items</a>
</div>
